var orderType = function (type) {
  var result="";
  if(type=="0"){
    result = "applyType"
  }
  if(type == "1") {
    result = "haveType"
  }
  if(type == "2") {
    result = "revokeType"
  }
  return result;
}
var orderName = function (type) {
  var result = "";
  if (type == "0") {
    result = "已申请"
  }
  if (type == "1") {
    result = "已到账"
  }
  if (type == "2") {
    result = "撤销"
  }
  return result;
}
var bankType = function (type) {
  console.log(type)
  var result = "";
  if (type == "001") {
    result = "/images/zgrmyh_icon@3x.png"
  }
  if (type == "011") {
    result = "/images/gjjk_icon@3x.png"
  }
  if (type == "102") {
    result = "/images/gongshang_icon@2x.png"
  }
  if (type == "103") {
    result = "/images/zgnyyh_icon@3x.png"
  }
  if (type == "104") {
    result = "/images/zhongguoyinghang_icon@3x.png"
  }
  if (type == "105") {
    result = "/images/zgjsyh_icon@3x.png"
  }
  if (type == "201") {
    result = "/images/gjkfyh_icon@3x.png"
  }
  if (type == "202") {
    result = "/images/zgjckyh_icon@3x.png"
  }
  if (type == "203") {
    result = "/images/zgnyfzyh_icon@3x.png"
  }
  if (type == "301") {
    result = "/images/jtyh_icon@3x.png"
  }

  return result;
}
module.exports = {
  orderType: orderType,
  bankType: bankType,
  orderName: orderName
}